*{
    margin: 0 0 0 0;
    font-family: 'Comfortaa';
}

/* hr{
    margin: 0 16px;
} */

img {
    float: left;
    max-width: 100%;
    height: auto;
}

.clearfix{
    clear: both;
    content: "";
}

.img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
    margin-right: 16px;
}

.main {
    margin-top: 40px;
    min-height: 100vh !important;
}

/* Ini Breadcrumbs */
ul.breadcrumb {
    padding: 16px 8px;
    list-style: none;
  }
  ul.breadcrumb li {
    display: inline;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">\00a0";
  }
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }


/*ini bagian nav*/

.navbar {
    position: fixed;
    background-color: #333;
    width: 100%;
    top: 0%;
    height: max-content;
  }
  
.navbar a {
    float: right;
    font-size: 16px;
    color: #FFD700;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: #FFD700;
    padding: 16px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #f9f9f9;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*ini bagian home*/
.text{
    margin: 4%;
    word-spacing: 10px;
    letter-spacing: 1px;
    line-height: 1.5;
    font-size:2vw;
    text-align: center;
    color: whitesmoke;
}
.bg-home {
    background-image: url("hotel1.png");
    height: 100vh !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.isi-home-2{
    border-radius: 25px;
    background: white;
    padding: 16px;
    height: fit-content;
    margin: 2rem;
}

p{
    margin: 0 16px;
}


/*bagian list kamar*/
.judul-listkamar{
    padding-top: 2rem;
}

.isi-list{
    border-radius: 24px;
    background: white;
    padding: 16px;
    height: fit-content;
    margin: 8px 8px;
    align-content: center;
}

.img-list{
    width: 90%;
    margin: 0 3.5%;
}

.text-list{
    text-align: center;
}

.btn-1{
    background-color: #41B3D3;
}
.btn-1:hover{
    background-color: #4ed3f8;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
    .btn {
      transition: none;
    }
  }
  .btn:hover {
    color: #212529;
  }

  .btn-success {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
  }
  .btn-success:hover {
    color: #fff;
    background-color: #157347;
    border-color: #146c43;
  }

  .btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }
  .btn-danger:hover {
    color: #fff;
    background-color: #bb2d3b;
    border-color: #b02a37;
  }

/* ini buat login/register */
.bg-login{
    background-image: url(bg-full.png);
    height: 100vh !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.kotak-profile{
    margin: 16% 3%;
    width: 80%;
    background: #404040;
    border-radius: 20px;
    padding: 56px 64px;
    color: #fff;
}
.kotak-login{
    margin: 20% 3%;
    width: 75%;
    background: #404040;
    border-radius: 16px;
    padding: 32px 24px;
    color: #fff;
}
.kotak-login a {
    color: #FFD31A;
    text-decoration: none;
}

.btn-login{
    background-color: #FFD31A;
    padding: 8px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    font-size: 18px;
    color: #404040;
}
.btn-login:hover{
    background-color: #ffe16b;
}
.btn-login:active {
    background-color: #ffe16b;
    /* box-shadow: 0 5px #fff; */
    transform: translateY(3px);
}

.logo-login{
    margin: 30% 30%;
}

.kotak-signup{
    margin: 6% 3%;
    width: 75%;
    background: #404040;
    border-radius: 16px;
    padding: 32px 24px;
    color: #fff;
}
.kotak-signup a {
    color: #FFD31A;
    text-decoration: none;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

/* buat tabel */
#detail {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #detail td {
    border: 1px solid rgb(141, 141, 141);
    padding: 8px;
  }
  
  
  .table {
      --bs-table-bg: transparent;
      --bs-table-accent-bg: transparent;
      --bs-table-striped-color: #212529;
      --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
      --bs-table-active-color: #212529;
      --bs-table-active-bg: rgba(0, 0, 0, 0.1);
      --bs-table-hover-color: #212529;
      --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
      width: 100%;
      margin-bottom: 1rem;
      color: #212529;
      vertical-align: top;
    }
  .table > :not(caption) > * > * {
      padding: 0.5rem 0.5rem;
      background-color: var(--bs-table-bg);
      border-bottom-width: 1px;
      box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
  }
  
  .table-striped > tbody > tr:nth-of-type(odd) {
      --bs-table-accent-bg: var(--bs-table-striped-bg);
      color: var(--bs-table-striped-color);
  }

/* bagian footer */
.footer{
    background-color: black;
    height: max-content;
    padding: 4px;
    width: 100%;
    color: #ffffff;
    font-size: 8px;
    /* position: relative; */
    bottom: 0px;
}

/* buat alert */
.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-warning {
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
}

.alert-warning .alert-link {
    color: #523e02;
}

.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
  }

.alert-success .alert-link {
    color: #0c4128;
  }

.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}
.alert-danger .alert-link {
    color: #6a1a21;
}

/* bukti bayar */
.img-invoice {
    float: right;
    max-width: 50%;
    height: auto;
    padding-top: 11%;
}
fieldset {
    border: 2px solid #FFD700;
    padding-top: 10px;
    background: #FFF8DC;
    box-shadow: inset 0px 0px 15px #FFE4C4;
}

/* buat noKamar */
.addKamar{
    border: 1px solid black;
    padding: 16px;
    font-weight: lighter;
    border-radius: 8px;
    margin-bottom: 2rem;
}

/* isi reservasi */
.isi-reservasi{
    border-radius: 25px;
    border: 1px solid black;
    background: white;
    padding: 16px;
    height: fit-content;
    margin: 1rem 2rem;
}

.isi-reservasi p {
    margin-bottom: 4px;
}