*{
    margin: 0 0 0 0;
    font-family: 'Comfortaa';
}

hr{
    margin: 0 16px;
}

img {
    float: left;
    max-width: 100%;
    height: auto;
}

.clearfix{
    clear: both;
    content: "";
}

.img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
    margin-right: 16px;
}

.main {
    margin-top: 65px;
}

/* Ini Breadcrumbs */
ul.breadcrumb {
    padding: 16px 8px;
    list-style: none;
  }
  ul.breadcrumb li {
    display: inline;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">\00a0";
  }
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }


/*ini bagian nav*/

.topnav{
    overflow: hidden;
    position: fixed;
    background-color: black;
    height: max-content;
    padding: 8px;
    top: 0;
    width: 100%;
}

.topnav a {
    float: right;
    color: #FFD700;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom-right-radius: 16px;
}

.topnav a:hover {
    color: antiquewhite;
}

/*ini bagian home*/
.text{
    margin: 4%;
    word-spacing: 10px;
    letter-spacing: 1px;
    line-height: 1.5;
    font-size:2vw;
    text-align: center;
    color: whitesmoke;
}
.bg-home {
    background-image: url("hotel1.png");
    height: 100vh !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.isi-home-2{
    border-radius: 25px;
    background: white;
    padding: 16px;
    height: fit-content;
    margin: 2rem;
}

p{
    margin: 0 16px;
}


/*bagian list kamar*/
.judul-listkamar{
    padding-top: 2rem;
}

.isi-list{
    border-radius: 24px;
    background: white;
    padding: 16px;
    height: fit-content;
    margin: 8px 8px;
    align-content: center;
}

.img-list{
    width: 90%;
    margin: 0 3.5%;
}

.text-list{
    text-align: center;
}

.btn{
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: #41B3D3;
}
.btn:hover{
    background-color: #4ed3f8;
}

/* ini buat login/register */
.bg-login{
    background-image: url(bg-full.png);
    height: 100vh !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.kotak-profile{
    margin: 16% 3%;
    width: 80%;
    background: #404040;
    border-radius: 20px;
    padding: 56px 64px;
    color: #fff;
}
.kotak-login{
    margin: 20% 3%;
    width: 75%;
    background: #404040;
    border-radius: 16px;
    padding: 32px 24px;
    color: #fff;
}
.kotak-login a {
    color: #FFD31A;
    text-decoration: none;
}

.btn-login{
    background-color: #FFD31A;
    padding: 8px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    font-size: 18px;
    color: #404040;
}
.btn-login:hover{
    background-color: #ffe16b;
}
.btn-login:active {
    background-color: #ffe16b;
    /* box-shadow: 0 5px #fff; */
    transform: translateY(3px);
}

.logo-login{
    margin: 30% 30%;
}

.kotak-signup{
    margin: 9% 3%;
    width: 75%;
    background: #404040;
    border-radius: 16px;
    padding: 32px 24px;
    color: #fff;
}
.kotak-signup a {
    color: #FFD31A;
    text-decoration: none;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

/* buat tabel */
#detail {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #detail td {
    border: 1px solid rgb(141, 141, 141);
    padding: 8px;
  }
  
  
  .table {
      --bs-table-bg: transparent;
      --bs-table-accent-bg: transparent;
      --bs-table-striped-color: #212529;
      --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
      --bs-table-active-color: #212529;
      --bs-table-active-bg: rgba(0, 0, 0, 0.1);
      --bs-table-hover-color: #212529;
      --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
      width: 100%;
      margin-bottom: 1rem;
      color: #212529;
      vertical-align: top;
    }
  .table > :not(caption) > * > * {
      padding: 0.5rem 0.5rem;
      background-color: var(--bs-table-bg);
      border-bottom-width: 1px;
      box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
  }
  
  .table-striped > tbody > tr:nth-of-type(odd) {
      --bs-table-accent-bg: var(--bs-table-striped-bg);
      color: var(--bs-table-striped-color);
  }