*{
    margin: 0 0 0 0;
    font-family: 'Comfortaa';
}

hr{
    margin: 0 16px;
}

img {
    float: left;
    max-width: 100%;
    height: auto;
}

.clearfix{
    clear: both;
    content: "";
}

.img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
    margin-right: 16px;
}

.main {
    margin-top: 65px;
}


/*ini bagian nav*/

.topnav{
    overflow: hidden;
    position: fixed;
    background-color: black;
    height: max-content;
    padding: 8px;
    top: 0;
    width: 100%;
}

.topnav a {
    float: right;
    color: #FFD700;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom-right-radius: 16px;
}

.topnav a:hover {
    color: antiquewhite;
}

/*ini bagian home*/
.text{
    margin: 4%;
    word-spacing: 10px;
    letter-spacing: 1px;
    line-height: 1.5;
    font-size:2vw;
    text-align: center;
    color: whitesmoke;
}
.bg-home {
    background-image: url("hotel1.png");
    height: 100vh !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.isi-home-2{
    border-radius: 25px;
    background: white;
    padding: 16px;
    height: fit-content;
    margin: 2rem;
}

p{
    margin: 0 16px;
}


/*bagian list kamar*/
.judul-listkamar{
    padding-top: 2rem;
}

.isi-list{
    border-radius: 24px;
    background: white;
    padding: 16px;
    height: fit-content;
    margin: 8px 8px;
    align-content: center;
}

.img-list{
    width: 90%;
    margin: 0 3.5%;
}

.text-list{
    text-align: center;
}

.btn{
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: #41B3D3;
}
.btn:hover{
    background-color: #4ed3f8;
}

/* ini buat login/register */
.bg-login{
    background-image: url(bg-full.png);
    height: 100vh !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.kotak-profile{
    margin: 16% 3%;
    width: 80%;
    background: #404040;
    border-radius: 20px;
    padding: 56px 64px;
    color: #fff;
}
.kotak-login{
    margin: 16% 3%;
    width: 75%;
    background: #404040;
    border-radius: 16px;
    padding: 32px 24px;
    color: #fff;
}

.kotak-login a {
    color: #FFD31A;
    text-decoration: none;
}

.btn-login{
    background-color: #FFD31A;
    padding: 8px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
}

.btn-login:hover{
    background-color: #ffe16b;
}

.btn-login:active {
    background-color: #ffe16b;
    /* box-shadow: 0 5px #fff; */
    transform: translateY(3px);
}

.logo-login{
    margin: 23% 25%;
}